# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
web_backend/logs
web_backend/project/project
web_backend/project/target
web_backend/target
web_backend/.history
web_backend/.idea
web_backend/*.iml
web_backend/out
web_backend/.idea_modules
web_backend/.classpath
web_backend/.project
web_backend/RUNNING_PID
web_backend/.settings
web_backend/bin

dist/

# Web frontend
node_modules/
_SpecRunner.html
web_frontend/spec/js/
web_frontend/bower/

# Database
database/spec/js


