# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
project-quill-app/logs
project-quill-app/project/project
project-quill-app/project/target
project-quill-app/target
project-quill-app/.history
project-quill-app/.idea
project-quill-app/*.iml
project-quill-app/out
project-quill-app/.idea_modules
project-quill-app/.classpath
project-quill-app/.project
project-quill-app/RUNNING_PID
project-quill-app/.settings
project-quill-app/bin

dist/

# Web frontend
node_modules/
_SpecRunner.html
web_frontend/spec/js/



