
<div class="container">

  <div class="statement-views col-md-2">
    <ul class="list-unstyled">
        <li>Support</li>
        <li>Counter</li>
        <li>Challenge</li>
        <li>Accept</li>
        <li>Disregard</li>
   </ul>
  </div>

  <div class="statement-summary col-md-10">
    <h2>{{title}}</h2>
    {{editor-summary editor=statement.editor}}
    <p>{{version}}</em></p>
    <p>{{summary}}</p>
    <a class="pull-right">View full</a>
  </div>

  <div class="statement-actions col-md-10 col-md-offset-2">
  </div>

  <div class="statement-responses col-md-12">

  </div>

</div>


